<div *ngIf="userSet">
  <ul>
    <li *ngFor="let user of users" (click)="setMessageUser(user)">
      {{ user }}
    </li>
  </ul>
</div>


<div *ngIf="!userSet" class="uset">
  <input placeholder="User email"  type="text" (keydown.enter)="userSetup($event, 'from')">
</div>

<div *ngIf="msgUser != ''" class="uset">
  <h2>{{ msgUser }}</h2>
  <input [disabled]="msgUser == ''" placeholder="enter message" [(ngModel)]="message" type="text" (keydown.enter)="sentMessage($event)">
</div>

<div *ngIf="msgUser != ''">
    <h2>Messages</h2>
    <ol>
      <li *ngFor="let message of messages" [ngClass]="message.from == currentUser ? 'from' : 'to'">
        {{ message.message }}
      </li>
    </ol>
  </div>

